---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const allProjects = await getCollection("projects");
---

<div class="projects-list flex flex-col gap-6">
    {
        allProjects.reverse().map(async (project, index) => {
            const { remarkPluginFrontmatter } = await project.render();
            // eagerly load the first image (above the fold)
            const loading = index === 0 ? "eager" : undefined;
            return (
                <ProjectCard
                    title={project.data.title}
                    href={`/projects/${project.slug}/`}
                    readingTime={remarkPluginFrontmatter.minutesRead}
                    metaimg={project.data.metaimg}
                    metaimgAlt={project.data.metaimgAlt}
                    imgLoading={loading}
                    snippet={project.data.snippet}
                    logos={project.data.logos}
                />
            );
        })
    }
</div>
