---
import ContactMe from "../components/ContactMe.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

// Static Images
import jsollyImage from "../images/jsolly.webp";
import linkedInLogo from "../images/social/linkedinLogo.svg";
import xLogo from "../images/social/xLogo.svg";
import youtubeLogo from "../images/social/youtubeLogo.png";
import githubLogo from "../images/social/githubLogo.svg";
import blogthedataLogo from "../images/social/blogthedataLogo.webp";

const socialLinks = [
    {
        href: "https://x.com/_jsolly",
        icon: xLogo,
        alt: "X",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://www.linkedin.com/in/jsolly/",
        icon: linkedInLogo,
        alt: "LinkedIn",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://github.com/jsolly",
        icon: githubLogo,
        alt: "Github",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://www.youtube.com/channel/UCxsK9UorVj2F17DMSXLuSQw",
        icon: youtubeLogo,
        alt: "Youtube",
        rel: "me noopener noreferrer",
    },
    {
        href: "https://blogthedata.com/",
        icon: blogthedataLogo,
        alt: "Blogthedata Blog",
        rel: "me",
    },
];
---

<Layout
    title="About John Solly"
    description="Learn more about John Solly and his work in the geospatial industry."
>
    <div
        class="about-section bg-custom-dark text-custom-gray rounded-lg shadow-lg p-6 mx-auto"
    >
        <div class="profile flex flex-col md:flex-row items-center">
            <Image
                src={jsollyImage}
                alt="John Solly Profile Picture"
                class="rounded-full mb-4 md:mb-0 md:mr-6 w-48"
            />
            <div>
                <h1 class="text-2xl font-bold text-custom-offwhite">
                    John Solly
                </h1>
                <p class="text-custom-gray mt-2">
                    Senior Software Engineer, Geospatial Developer
                </p>
                <div class="social-links flex mt-4">
                    {
                        socialLinks.map((link) => (
                            <a
                                href={link.href}
                                rel={link.rel}
                                target="_blank"
                                class="mr-4"
                            >
                                <Image
                                    src={link.icon}
                                    alt={link.alt}
                                    class="w-8 h-8"
                                />
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
        <div class="about-content mt-6">
            <p>
                With over a decade of experience in the geospatial industry, I
                specialize in full-stack development of GIS applications.
                Currently, I serve as a senior software engineer at New Light
                Technologies (NLT), where I lead the development of geospatial
                applications for federal and commercial clients.
            </p>
            <p class="mt-4">
                Throughout my career, I've built applications on platforms like
                Esri and Mapbox while also leveraging open-source GIS
                technologies such as OpenLayers, GeoServer, and GDAL. I'm
                passionate about creating innovative solutions that help
                organizations make better decisions with their geospatial data.
                Check out my
                <a href="/showcase">showcase</a> to see my latest work!
            </p>
        </div>
    </div>
    <hr class="my-8 border-custom-gray" />
    <ContactMe />
</Layout>

<style>
    /* Hide external link arrow */
    a[href^="http"]::after {
        content: none;
    }
</style>
