---
import Layout from "../layouts/Layout.astro";

const consultingServices = [
	{
		id: "ask-me-anything",
		title: "Ask Me Anything Sessions",
		sessions: [
			{
				id: 1,
				name: "30-Minute Video Call",
				description:
					"A 30-minute video call where you can ask me anything about career growth, job searching, or life in general.",
				features: [
					"Focused 30-minute one-on-one video call",
					"Ask questions about any topic (except legal/medical advice)",
					"Career guidance and job search strategy",
					"Follow-up email with resources and action items",
				],
				price: "$60 USD",
				bookingProcess: [
					"Make payment to confirm your booking",
					"Schedule your 30-minute session at a convenient time",
					"Participate in the video call",
					"Receive a follow-up email with resources within 2 business days",
				],
				stripeButtonId: "buy_btn_1QkXFsGDKR2aVHG2Slk1no3O",
			},
			{
				id: 2,
				name: "60-Minute Video Call",
				description:
					"A full hour to dive deep into your questions about career growth, job searching, or life in general.",
				features: [
					"Comprehensive 60-minute one-on-one video call",
					"In-depth discussion on any topic (except legal/medical advice)",
					"Career planning and goal setting",
					"Detailed follow-up email with resources and action items",
				],
				price: "$100 USD",
				bookingProcess: [
					"Make payment to confirm your booking",
					"Schedule your 60-minute session at a convenient time",
					"Participate in the video call",
					"Receive a follow-up email with resources within 2 business days",
				],
				stripeButtonId: "buy_btn_1Q42luGDKR2aVHG2I13X7tVl",
			},
		],
	},
];
---

<script src="/src/scripts/stripeBuyButton"></script>

<Layout
	title="Ask Me Anything - 30 or 60 Minute Sessions"
	description="Book a video call where you can ask me anything about career growth, job searching, or life in general"
>
	<div class="max-w-4xl mx-auto">
		{
			consultingServices.map((service) => (
				<section class="bg-subtle-dark-overlay-lvl-2 rounded-lg mb-8 p-8 shadow-lg">
					<h1 class="text-2xl text-custom-offwhite font-bold leading-none">
						{service.title}
					</h1>
					{service.sessions.map((session) => (
						<article class="border-t-2 border-gray-800 pt-4 mt-4">
							<h2 class="text-xl text-custom-offwhite font-semibold">
								{session.name}
							</h2>
							<p class="text-custom-gray">{session.description}</p>
							<h3 class="text-lg text-custom-offwhite font-semibold mt-4">
								Features:
							</h3>
							<ul class="list-disc pl-5 text-custom-gray">
								{session.features.map((feature) => (
									<li>{feature}</li>
								))}
							</ul>
							<p class="text-custom-gray mb-1 mt-4">
								<strong class="text-custom-offwhite">Price:</strong> {session.price}
							</p>
							<h3 class="text-lg text-custom-offwhite font-semibold mt-4">
								Booking Process:
							</h3>
							<ol class="list-decimal pl-5 text-custom-gray">
								{session.bookingProcess.map((step) => (
									<li>{step}</li>
								))}
							</ol>
							<div class="stripe-buy-button-container flex justify-center mt-5">
								<stripe-buy-button
									buy-button-id={session.stripeButtonId}
									publishable-key="pk_live_51OVYNtGDKR2aVHG2rkLNhuMQNijVcyxE3V4qsf92piHHYSmeE2SZg9L2HmuCwCMhJyAPZuNAAQhVUXDw5aqa7Edv00nPyo5KFq"
								>
								</stripe-buy-button>
							</div>
						</article>
					))}
				</section>
			))
		}
	</div>
</Layout>
