---
import Layout from "../layouts/Layout.astro";
const consultingServices = [
    {
        id: "personalized-consulting",
        title: "Personalized Consulting Sessions",
        sessions: [
            {
                id: 1,
                name: "30-Minute Expert Consulting Session",
                description:
                    "Dive into a one-on-one, 30-minute consulting session tailored to answer your specific questions and offer expert advice.",
                features: [
                    "Pre-session questionnaire to outline your questions or topics of interest",
                    "One-on-one consultation via video call or phone",
                    "Follow-up email summary highlighting key points discussed and recommended next steps",
                    "Option to book additional sessions at a discounted rate",
                ],
                price: "$75 USD",
                bookingProcess: [
                    "Make payment to confirm your booking.",
                    "Schedule your session based on available slots.",
                    "Complete the pre-session questionnaire.",
                    "Receive a confirmation email with your session details.",
                ],
            },
        ],
    },
    // {
    //     id: "project-discussion",
    //     title: "Project Discussion & Service Proposal",
    //     sessions: [
    //         {
    //             id: 2,
    //             name: "Project Discovery & Proposal Consultation",
    //             description:
    //                 "Looking to start a new project or need expert services to bring your ideas to life? Our Project Discovery & Proposal Consultation offers a structured approach to understanding your project requirements, discussing potential strategies, and outlining a customized proposal for our services.",
    //             features: [
    //                 "Initial questionnaire to gather project details and objectives",
    //                 "60-minute in-depth discussion to explore your project needs and how I can help",
    //                 "Customized project proposal including scope of work, timeline, and pricing",
    //                 "One round of follow-up questions via email or a short call to clarify the proposal",
    //             ],
    //             price: "Free Introductory Session",
    //             bookingProcess: [
    //                 "Submit your initial project details through our questionnaire.",
    //                 "We'll review your submission and reach out to schedule a comprehensive discussion.",
    //                 "Engage in the project discovery session to cover all aspects of your potential project.",
    //                 "Receive a detailed proposal tailored to your project's needs.",
    //             ],
    //         },
    //     ],
    // },
];
---

<head>
    <script src="/src/scripts/stripeBuyButton.js"></script>
</head>
<Layout
    title="Consulting Services"
    description="Book personalized consulting sessions to get expert advice and guidance on your projects and ideas."
>
    {
        consultingServices.map((service) => (
            <section class="rounded-lg mb-8 p-8">
                <h2 class="text-2xl">{service.title}</h2>
                {service.sessions.map((session) => (
                    <article class="border-t-2 border-gray-800 pt-4 mt-4">
                        <h3>{session.name}</h3>
                        <p>{session.description}</p>
                        <h4>Features:</h4>
                        <ul>
                            {session.features.map((feature, _) => (
                                <li>{feature}</li>
                            ))}
                        </ul>
                        <p class="mb-1">
                            <strong>Price:</strong> {session.price}
                        </p>
                        <h4>Booking Process:</h4>
                        <ol>
                            {session.bookingProcess.map((step, _) => (
                                <li>{step}</li>
                            ))}
                        </ol>
                        <div class="stripe-buy-button-container flex justify-center m-5">
                            <stripe-buy-button
                                buy-button-id="buy_btn_1OmLGgGDKR2aVHG2whxTQRdh"
                                publishable-key="pk_live_51OVYNtGDKR2aVHG2rkLNhuMQNijVcyxE3V4qsf92piHHYSmeE2SZg9L2HmuCwCMhJyAPZuNAAQhVUXDw5aqa7Edv00nPyo5KFq"
                            />
                        </div>
                    </article>
                ))}
            </section>
        ))
    }
</Layout>

<style>
    section {
        background-color: rgb(30, 32, 37);
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    }

    ul,
    ol {
        margin-left: 20px;
        margin-top: 10px;
    }
    li {
        margin-bottom: 5px;
    }
    p,
    li {
        line-height: 1.6;
    }
</style>
