---
import Layout from "../layouts/Layout.astro";
const consultingServices = [
	{
		id: "resume-linkedin-review",
		title: "Resume and LinkedIn Profile Review",
		sessions: [
			{
				id: 1,
				name: "30-Minute Screencast Review",
				description:
					"Get a comprehensive 30-minute screencast review of your resume and LinkedIn profile, offering personalized feedback and actionable insights to enhance your professional branding.",
				features: [
					"Detailed analysis of your resume and LinkedIn profile",
					"Personalized recommendations aligned with your career goals",
					"Industry-specific advice and best practices",
					"ATS (Applicant Tracking System) optimization tips",
					"Strategies to increase profile visibility and engagement",
					"One follow-up message for additional questions and guidance",
				],
				price: "$50 USD",
				bookingProcess: [
					"Make payment to confirm your booking.",
					"Submit your current resume and LinkedIn profile URL.",
					"Receive your personalized screencast review within 3 business days.",
					"Engage in one follow-up message for further assistance.",
				],
			},
		],
	},
];
---

<script src="/src/scripts/stripeBuyButton"></script>

<Layout
    title="Resume and LinkedIn Review Services"
    description="Enhance your professional profile with a personalized resume and LinkedIn review."
>
    <div class="max-w-4xl mx-auto">
        {
            consultingServices.map((service) => (
                <section class="bg-subtle-dark-overlay-lvl-2 rounded-lg mb-8 p-8 shadow-lg">
                    <h1 class="text-2xl text-custom-offwhite font-bold leading-none">
                        {service.title}
                    </h1>
                    {service.sessions.map((session) => (
                        <article class="border-t-2 border-gray-800 pt-4 mt-4">
                            <h2 class="text-xl text-custom-offwhite font-semibold">
                                {session.name}
                            </h2>
                            <p class="text-custom-gray">
                                {session.description}
                            </p>
                            <h3 class="text-lg text-custom-offwhite font-semibold mt-4">
                                Features:
                            </h3>
                            <ul class="list-disc pl-5 text-custom-gray">
                                {session.features.map((feature) => (
                                    <li>{feature}</li>
                                ))}
                            </ul>
                            <p class="text-custom-gray mb-1 mt-4">
                                <strong class="text-custom-offwhite">
                                    Price:
                                </strong>{" "}
                                {session.price}
                            </p>
                            <h3 class="text-lg text-custom-offwhite font-semibold mt-4">
                                Booking Process:
                            </h3>
                            <ol class="list-decimal pl-5 text-custom-gray">
                                {session.bookingProcess.map((step) => (
                                    <li>{step}</li>
                                ))}
                            </ol>
                            <div class="stripe-buy-button-container flex justify-center mt-5">
                                <stripe-buy-button
                                buy-button-id="buy_btn_1Q1a1DGDKR2aVHG29RzE4gaS"
                                publishable-key="pk_live_51OVYNtGDKR2aVHG2rkLNhuMQNijVcyxE3V4qsf92piHHYSmeE2SZg9L2HmuCwCMhJyAPZuNAAQhVUXDw5aqa7Edv00nPyo5KFq"
                                >
                                </stripe-buy-button>
                            </div>
                        </article>
                    ))}
                </section>
            ))
        }

        <section class="bg-subtle-dark-overlay-lvl-2 rounded-lg p-8 shadow-lg mt-8">
            <h2 class="text-2xl text-custom-offwhite font-bold leading-none">
                Previous Reviews
            </h2>
            <div class="mt-4">
                <iframe width="560" height="315"src="https://www.youtube.com/embed/videoseries?si=t9qlwqna_P2XSfy4&amp;list=PL1pc4P-E8TnSUH_gJntgNultgL4ATRJ8C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </section>

    </div>
</Layout>

<style>
    iframe {
      max-width: 100%;
      border-radius: 0.25rem;
    }
</style>
