---
import Layout from "../layouts/Layout.astro";
import ContactMe from "../components/ContactMe.astro";
import PageSpeedInsights from "../components/PageSpeedInsights.astro";
import LongSollyBio from "../components/LongSollyBio.astro";
import Testimonials from "../components/Testimonials.astro";
import ProjectsList from "../components/ProjectsList.astro";
import Card from "../components/Card.astro";
import * as myResume from "../pages/resume.md";
---

<Layout title="John Solly's Portfolio">
    <h1 id="portfolioHello" class="portfolio-hello">
        Hello World,<br />I'm John!
    </h1>
    <LongSollyBio />
    <Testimonials />
    <ProjectsList />
    <!-- Resume Card After Projects -->
    <Card
        title={myResume.frontmatter.title}
        href={myResume.frontmatter.href}
        metaimg={myResume.frontmatter.metaimg}
        metaimgAlt={myResume.frontmatter.metaimgAlt}
        snippet={myResume.frontmatter.snippet}
    />
    <br />
    <hr />
    <br />
    <ContactMe />
    <hr />
    <br />
    <PageSpeedInsights />
</Layout>

<style>
    #portfolioHello {
        font-size: 3.5rem;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 2.5rem;
    }
</style>
