---
import Layout from "../layouts/Layout.astro";
import ContactMe from "../components/ContactMe.astro";
import PageSpeedInsights from "../components/PageSpeedInsights.astro";
import LongSollyBio from "../components/LongSollyBio.astro";
import Testimonials from "../components/Testimonials.astro";
import ProjectsList from "../components/ProjectsList.astro";
import * as myResume from "../pages/resume.md";
import jsollyLarge from "../images/jsollyLarge.webp";
import ProjectCard from "src/components/ProjectCard.astro";
---

<Layout
    title="John Solly's Showcase"
    description="Explore the comprehensive showcase of John Solly's impactful work, projects, and contributions to the geospatial and software engineering fields."
>
    <h1
        id="showcaseHello"
        class="text-5xl leading-tight tracking-wider text-center mb-10"
    >
        <span>Hello World,</span><span class="block">I'm John!</span>
    </h1>
    <LongSollyBio />
    <Testimonials />
    <ProjectsList />
    <!-- Resume Card After Projects -->
    <ProjectCard
        title={myResume.frontmatter.title}
        href={myResume.frontmatter.href}
        readingTime={myResume.frontmatter.minutesRead}
        metaimg={jsollyLarge}
        metaimgAlt="John Solly"
        snippet={myResume.frontmatter.snippet}
    />
    <hr />
    <ContactMe />
    <hr />
    <PageSpeedInsights />
</Layout>

<style>
    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
</style>
