---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import type { Logo } from "../types";

interface Props {
    title: string;
    snippet: string;
    href: string;
    metaimg?: ImageMetadata;
    metaimgAlt?: string;
    logos?: Logo[];
}

const { title, snippet, href, metaimg, metaimgAlt, logos } = Astro.props;
const isRelativeLink = href.startsWith("/") && !href.endsWith(".pdf");
---

<div class="link-card text-lg">
    <a href={href} target={isRelativeLink ? "_self" : "_blank"}>
        <h2>
            {title}
            <span>&rarr;</span>
        </h2>
        {
            metaimg ? (
                <div class="img-container">
                    <Image
                        src={metaimg}
                        alt={metaimgAlt ?? "Meta image"}
                        width="200"
                        height="150"
                    />
                    <p>{snippet}</p>
                </div>
            ) : (
                <p>{snippet}</p>
            )
        }
        {
            logos ? (
                <div class="logos">
                    {logos.map((logo) => (
                        <Image src={logo.url} alt={logo.alt} />
                    ))}
                </div>
            ) : null
        }
    </a>
</div>
<style>
    .link-card a {
        color: inherit;
    }
    p {
        margin: 0;
    }
    .link-card {
        display: flex;
        padding: 1px;
        background-color: #23262d;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 100%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }
    .link-card > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        background-color: #23262d;
        opacity: 0.8;
    }
    .link-card:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
        scale: 1.005;
    }
    .link-card:is(:hover, :focus-within) h2 {
        color: rgb(var(--accent-light));
    }

    .img-container {
        display: flex;
        align-items: flex-start;
        padding: 1rem;
    }
    .img-container img {
        border-radius: 8px;
        margin-right: 1rem;
    }

    @media (max-width: 600px) {
        .img-container {
            flex-direction: column;
            align-items: center;
        }
        .img-container img {
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }
</style>
