---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

const allProjects = await getCollection("projects");
---

<div class="projects-list">
    {
        allProjects
            .reverse()
            .map((project) => (
                <Card
                    title={project.data.title}
                    href={`/projects/${project.slug}/`}
                    metaimg={project.data.metaimg}
                    snippet={project.data.snippet}
                    logos={project.data.logos}
                />
            ))
    }
</div>
