---
import { getCollection } from "astro:content";
import Card from "./Card.astro";

const allProjects = await getCollection("projects");
---

<div class="projects-list">
    {
        allProjects.reverse().map(async (project) => {
            const { remarkPluginFrontmatter } = await project.render();
            return (
                <Card
                    title={project.data.title}
                    href={`/projects/${project.slug}/`}
                    readingTime={remarkPluginFrontmatter.minutesRead}
                    metaimg={project.data.metaimg}
                    metaimgAlt={project.data.metaimgAlt}
                    snippet={project.data.snippet}
                    logos={project.data.logos}
                />
            );
        })
    }
</div>
