---
import { Image } from "astro:assets";
import AmyBrazilAvatar from "/src/images/AmyBrazil.webp";
import CraigUtleyAvatar from "/src/images/CraigUtley.webp";
import MeredithBeanAvatar from "/src/images/MeredithBean.webp";
import KathrynThorpeAvatar from "/src/images/KathrynThorpe.webp";
import TaylorOshanAvatar from "/src/images/TaylorOshan.svg";

const carouselItems = [
	{
		avatar: TaylorOshanAvatar,
		name: "Taylor Oshan",
		position: "Direct Manager",
		company: "University of Maryland",
		year: "2023",
		quote: "John is a talented geospatial developer and a capable leader",
	},
	{
		avatar: AmyBrazilAvatar,
		name: "Amy Brazil",
		position: "Direct Manager",
		company: "YellowfinBI",
		year: "2022",
		quote:
			"I'd hire him back in a heartbeat and hopefully will when he's looking again.",
	},
	{
		avatar: CraigUtleyAvatar,
		name: "Craig Utley",
		position: "Direct Manager",
		company: "YellowfinBI",
		year: "2022",
		quote:
			"There is a right way to come into an organization and John did it the right way.",
	},
	{
		avatar: MeredithBeanAvatar,
		name: "Meredith Bean",
		position: "Undergraduate Student",
		company: "GMU",
		year: "2016",
		quote:
			"John was an extraordinary TA to me as a student in an introductory GIS class.",
	},
	{
		avatar: KathrynThorpeAvatar,
		name: "Kathryn Thorpe",
		position: "Coworker",
		company: "YellowfinBI",
		year: "2022",
		quote: "John is amazingly bright, levelheaded, and goal-oriented.",
	},
];
---

<script src="/src/scripts/carousel.js"></script>

<div class="text-center mt-10">
    <h2
        class="text-3xl font-light tracking-wider mb-6"
        id="carouselExampleCaptions"
    >
        Testimonials
    </h2>
    <div class="relative">
        <div class="flex items-center justify-center">
            <button
                class="carousel-control-prev absolute left-14 top-1/2 transform -translate-y-1/2 text-4xl cursor-pointer"
                type="button"
                aria-label="Previous">&#10094;</button
            >
            <div class="flex flex-col items-center">
                {
                    carouselItems.map((item, index) => (
                        <div
                            class={`carousel-item ${
                                index === 0 ? "block" : "hidden"
                            } data-index=${index}`}
                        >
                            <div class="mb-3 flex flex-col items-center">
                                <Image
                                    class="rounded-full shadow-lg mb-4 max-w-[150px] max-h-[150px]"
                                    src={item.avatar}
                                    alt="avatar"
                                    loading="eager"
                                />
                                <div class="flex flex-col items-center gap-2 min-h-[150px]">
                                    <div>
                                        <h3 class="mb-2 mt-0 font-light">
                                            {item.name}
                                        </h3>
                                        <p class="font-bold mb-0 text-lg">
                                            {item.position}
                                        </p>
                                        <p class="line-height[1] m-0">
                                            {item.company} - {item.year}
                                        </p>
                                    </div>
                                    <p class="testimonial-quote font-light mb-0 max-w-[450px] break-words text-lg">
                                        {item.quote}
                                    </p>
                                </div>
                            </div>
                        </div>
                    ))
                }
                <!-- The # of indicators matches the # of carousel items -->
                <ol class="flex justify-center gap-2 mb-6">
                    {
                        carouselItems.map((_, index) => (
                            // Initialize the first indicator as active on page load
                            <li
                                class={`w-2.5 h-2.5 cursor-pointer transition-colors duration-300 ${
                                    index === 0 ? "bg-accent" : "bg-gray-300"
                                }`}
                                data-carousel-index={index}
                            />
                        ))
                    }
                </ol>
            </div>
            <button
                class="carousel-control-next absolute right-14 top-1/2 transform -translate-y-1/2 text-4xl cursor-pointer"
                type="button"
                aria-label="Next">&#10095;</button
            >
        </div>
    </div>
</div>

<style>
    .testimonial-quote::before,
    .testimonial-quote::after {
        display: inline-block;
        line-height: 0;
        position: relative;
        color: #c3ceff;
        font-size: 2rem;
        font-family: Georgia, serif;
    }

    .testimonial-quote::before {
        content: "“";
        top: 0.3em;
    }

    .testimonial-quote::after {
        content: "”";
        top: 0.4em;
    }
</style>
