---
import { getCollection } from "astro:content";
import ProjectCard from "../projects/ProjectCard.astro";
import jsollyLarge from "../../images/jsollyLarge.webp";

const allProjects = await getCollection("projects");
---

<nav>
    <ul class="projects-list flex flex-col gap-6">
        {
            allProjects.reverse().map(async (project, index) => {
                const { remarkPluginFrontmatter } = await project.render();
                // eagerly load the first image (above the fold)
                const loading = index === 0 ? "eager" : undefined;
                return (
                    <ProjectCard
                        title={project.data.title}
                        href={`/projects/${project.slug}/`}
                        readingTime={remarkPluginFrontmatter.minutesRead}
                        metaimg={project.data.metaimg}
                        metaimgAlt={project.data.metaimgAlt}
                        imgLoading={loading}
                        snippet={project.data.snippet}
                        logos={project.data.logos}
                    />
                );
            })
        }
        <ProjectCard
            title="John Solly's Resume"
            href="/John-Solly-Resume.pdf"
            readingTime="7 min read"
            metaimg={jsollyLarge}
            metaimgAlt="John Solly"
            snippet="A two-page resume for John Solly, a lead software engineer with a focus on cloud computing and geospatial technologies."
        />
    </ul>
</nav>
