---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
---

<Layout title={frontmatter.title} description={frontmatter.snippet}>
    <h1>{frontmatter.title}</h1>
    <div class="image-container">
        <Image
            src={frontmatter.metaimg}
            alt={frontmatter.metaimgAlt}
            width={frontmatter.metaimgWidth}
            height={frontmatter.metaimgHeight}
        />
    </div>
    <slot />
</Layout>
<style>
    .image-container img {
        max-width: 100%;
    }
</style>
