---
import Layout from "./Layout.astro";
const { frontmatter, readingTime } = Astro.props;
import { Image } from "astro:assets";
import clockIcon from "../images/svg/clockIcon.svg";
---

<Layout title={frontmatter.title} description={frontmatter.snippet}>
    <h1 class="text-3xl leading-tight">{frontmatter.title}</h1>
    <div class="max-w-full">
        <Image
            src={frontmatter.metaimg}
            alt={frontmatter.metaimgAlt}
            width={frontmatter.metaimgWidth}
            height={frontmatter.metaimgHeight}
            class="rounded-lg"
        />
    </div>
    <div class="mt-3">
        <span class="text-sm text-gray-400 flex items-center">
            <Image src={clockIcon} alt="Clock icon" class="w-4 h-4 mr-1" />
            {readingTime}
        </span>
    </div>
    <slot />
</Layout>
