---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
import { Image } from "astro:assets";
---

<Layout title={frontmatter.title} description={frontmatter.snippet}>
    <h1 class="text-3xl leading-tight">{frontmatter.title}</h1>
    <div class="max-w-full">
        <Image
            src={frontmatter.metaimg}
            alt={frontmatter.metaimgAlt}
            width={frontmatter.metaimgWidth}
            height={frontmatter.metaimgHeight}
            class="rounded-lg"
        />
    </div>
    <slot />
</Layout>
